nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* .btn-primary
{
    color: #ffffff;
    background-color: #1E90FF;
    outline-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-primary:active
{
    color: #ffffff;
    background-color: rgb(26, 128, 230);
    outline-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-primary:hover
{
    color: #ffffff;
    background-color: rgb(26, 128, 230);
    outline-color: #1E90FF;
    border-color: #1E90FF;
}

.btn-primary:focus
{
    color: #ffffff;
    background-color: rgb(26, 128, 230);
    outline-color: #1E90FF;
    border-color: #1E90FF;
} */

/* .tradelogger-outline
{
    border: 1px solid #1E90FF;
    outline-color: #1E90FF;   
} */

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x:  auto;

    /* center contents */
    text-align: left;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main table
{
    text-align: center;
}

body {
    background: #fafafa;
    color: #333333;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}