<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Trade Logger: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <!-- Navbar Logo -->
            <a class="navbar-brand" href="/"><span class="blue">Trade</span><span class="red">Logger</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if current_user.is_authenticated %}
                <!-- <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('new_log')}}">New Log</a></li>
                </ul> -->
                <ul class="navbar-nav ml-auto mt-2">
                    <!-- <li class="nav-item"><a class="nav-link" href="{{ url_for('account') }}">Account</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <main role="main" class="p-5">
        <div class="row">
            <div class="col-md-9">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block main %}{% endblock %}
            </div>
        {% if current_user.is_authenticated %}
            <div class="col-md-3">
                <div class="content-section" style="padding: 20px 15px;">
                    <h4 style="text-align: center;">Overview</h4>
                    <p class='text-muted' style="text-align: center;">AI says: {{ ai_says }}
                    <ul class="list-group">
                        {% if net_profit > 0 %}
                            <li class="list-group-item list-group-item-success">Net profit: RM {{ net_profit }}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger">Net profit: RM {{ net_profit }}</li>
                        {% endif %}
                        <li class="list-group-item list-group-item-light">Total trades: {{ total_trades }}</li>
                    </ul>
                    </p>
                </div>
                <div class="content-section" style="padding: 20px 15px;">
                    <h4 style="text-align: center;">ML Predictions</h4>
                    <p class="text-muted" style="text-align: center;">We think this is how you will perform.</p>
                    <ul class="list-group">
                        {% if next_trade_pred > 0 %}
                            <li class="list-group-item list-group-item-success">Next <b>trade's</b> profit: RM {{ next_trade_pred }}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger">Next <b>trade's</b> profit: RM {{ next_trade_pred }}</li>
                        {% endif %}
                        {% if next_monthly_pred > 0 %}
                            <li class="list-group-item list-group-item-success">Next <b>month's</b> profit: RM {{ next_monthly_pred }}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-danger">Next <b>month's</b> profit: RM {{ next_monthly_pred }}</li>
                        {% endif %}
                    </ul>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col-md-3">
                <div class="content-section" style="padding: 20px 15px;">
                    <h4>Overview</h4>
                    <p class='text-muted'>AI says: You should sign up for an account!
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Total trades by users: {{ total_trades }}</li>
                    {% if net_profit > 0 %}
                        <li class="list-group-item list-group-item-success">Net profit by users: <br> RM {{ net_profit }}</li>
                    {% else %}
                        <li class="list-group-item list-group-item-danger">Net profit by users: <br> RM {{ net_profit }}</li>
                    {% endif %}
                    </ul>
                    </p>
                </div>
            </div>
        {% endif %}
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>